.portfolio-swiper {
    &__wrapper {
        height: 100%;
    }

    &__img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    &__nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        z-index: 3;
        display: flex;
        width: 95%;
        justify-content: space-between;
    }

    &__button {
        color: #fff;
        font-size: 3rem;
        cursor: pointer;
    }
}