.return-button {
    position: fixed;
    bottom: -10rem;
    right: 3rem;
    background-color: #ffffff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    display: grid;
    place-items: center;
    transition: bottom .3s linear, box-shadow .2s linear, background-color .2s linear;
    cursor: pointer;

    &:hover {
        background-color: #3666f5;
        box-shadow: 5px 5px 9px 0px rgba(6, 21, 33, 0.2);
    }

    &:hover &__icon {
        stroke: #fff;
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        stroke: #3666f5;
        fill: none;
        transition: stroke .2s linear;
    }
}

// dark theme
.dark .return {
    // background-color: #333333;
}
