.home {
    background: linear-gradient(110deg, #2d2d37, #2d2d37 50%, #f58673 50%);
    height: 100vh;

    &__container {
        height: 100%;
        display: grid;
        grid-template-rows: 5rem repeat(2, 1fr);
        grid-template-columns: 1rem repeat(2, 1fr);
        grid-template-areas:
            'social header header'
            'social body body'
            'social body body';
        gap: 2rem;

        // @media screen and (max-width: 1024px) {
        //     grid-template-areas:
        //     'header header header'
        //     'body body body'
        //     'social social social';
        // }
    }

    &__header {
        grid-area: header;
    }

    &__social {
        grid-area: social;
    }

    &__body {
        grid-area: body;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media screen and (max-width: 1130px) {
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
    }

    &__illustration {
        @media screen and (max-width: 1130px) {
            &_1 {
                width: 18rem;
            }
        }
    }
}
