.home {
    background-color: var(--home-bg-color);
    height: 100vh;
    transition: background-color .2s linear;

    &__container {
        height: 100%;
        display: grid;
        grid-template-rows: 5rem repeat(2, 1fr);
        grid-template-columns: 1rem repeat(2, 1fr);
        grid-template-areas:
            'social body body'
            'social body body'
            'social body body';
        gap: 3rem;
    }

    &__header {
        grid-area: header;
    }

    &__social {
        grid-area: social;
    }

    &__body {
        grid-area: body;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
    }

    &__illustration {
        &_1 {
            stroke: #000000;
            transition: stroke .2s linear;
        }

        @media screen and (max-width: 1000px) {
            &_1 {
                width: 18rem;
            }
        }
    }
}

// dark theme
.dark .home {
    background-color: var(--dark-bg-color);
    
    &__illustration {
        &_1 {
            stroke: #fff;
        }
    }
}
