.home {
    position: relative;
    height: 100vh;
    background: linear-gradient(110deg, #2d2d37, #2d2d37 50%, #f58673 50%);

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        // width: 100%;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__title {
        font-size: 8rem;
        font-weight: 500;
        color: #fff;
        position: relative;

        span {
            &::after {
                content: '';
                position: absolute;
                top: 55%;
                left: 28.5%;
                transform: translate(0, -50%);
                display: block;
                height: 1rem;
                background-color: var(--light-color-bright);
                width: 3rem;
                border-radius: 0.3rem;
            }
        }
    }
}

.bright-circle-1 {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.dark-circle-1 {
    position: absolute;
    top: -15%;
    left: 2rem;
}

.dark-circle-2 {
    position: absolute;
    bottom: 4rem;
    left: 20%;
}
