:root {
    --accent-color: #2D1AA7;
    --text-color: #202326;
    --dark-gray: #E8E8EF;
    --light-gray: #F8F8FA;
    --main-bg-color: #F8F8FA;
    --second-bg-color: #F1F1F3;
    --option-bg-color: #F1F1F3;
    --shadow-text: #777777;
    --swiper-bullet-color: #8f8f8f;
    --rate-star-color: #D7D7E2;
    --rate-star-color-selected: #FFB400;
}
