:root {
    // light mode
    --dark-color: #2D2D37;
    --light-color-bright: #F58673;
    --home-bg-color: #fff;
    --text-color: #000;
    --accent-color: #016BDE;
    --hamburger-bg: #000;
    --hamburger-lines-color: #000;
}